*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
}

body{
    background-image: url(../images/bg.jpg);
    background-size: auto;
    background-repeat: none;
    background-position: center;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 210px;
}

.contenedor_todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja_trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    /* Aunque APAREZCA ERROR FUNCIONA xD*/
    backdrop-filter: blur(15px);
    background-color: rgb(0,128,255,0.45);
}

.caja_trasera div{
    margin: 100px 40px;
    color: whitesmoke;
    transition: all 500ms;
}

.caja_trasera div p, 
.caja_trasera div button{
    margin-top:  30px;
}

.caja_trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja_trasera button{
    padding: 10px 40px;
    border: 1.5px solid #FFFF;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 400ms;
}

.caja_trasera button:hover{
    background: whitesmoke;
    color: #46A2FD;
}

/*Formulrios*/

.contenedor_login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320,1.275);
}

.contenedor_login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #FFFF;
    position: absolute;
    border-radius: 25px;

}

.contenedor_login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: #46A2FD;
}

.contenedor_login-register input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
}

.contenedor_login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    
    color: white;
    
    background-color: #46A2FD;

    cursor: pointer;
    outline: none;
}

.formulario_login{
    opacity: 1;
    display: block;
}

.formulario_register{
    display: none;
}

/* Resposive design */

@media screen and (max-width: 850px){
    main{
        margin-top: 50px;
    }
    .caja_trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja_trasera div{
        margin: 0;
        position: absolute;
    }

    /*Formulario*/

    .contenedor_login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor_login-register form{
        position: relative;
    }
}